.resultLayout{
    width: var(--container-size);
    /* height: 70vh; */
    display: flex;
    flex-flow: column;
    margin: auto 0rem;
    position: relative;
    top: 4%;
    z-index: 0;
    /* border: 2px solid red; */
}

.resultanimation{
    animation: rmove 1s ease;
    height: min-content !important;
  }
  @keyframes rmove{
    from{
      opacity: 0;
      transform: translateY(200px);
    }
    to{
      opacity: 1;
      transform: translateY(0px);
    }
  }